# General

.DS_Store
node_modules/
build/
#lib/
DerivedData/
package-lock.json
.idea/

# Android

android/.gradle/
android/.idea/
android/build/
android/gradle/
android/captures/
android/local.properties
android/*.iml
android/gradlew
android/gradlew.bat

# Windows

windows/.vs/
windows/ARM/
windows/RNTrackPlayer/bin/
windows/RNTrackPlayer/obj/
windows/RNTrackPlayer/project.lock.json

# iOS

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
example/ios/Pods
/ios/RNTrackPlayer.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/Pods
ios/RNTrackPlayer.xcworkspace
Podfile.lock
