<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="guichaguri.trackplayer">

    <application>
        <receiver android:name=".logic.components.MediaReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
