<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="guichaguri.trackplayer">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <receiver android:name=".logic.workers.MediaReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service android:name=".logic.workers.PlayerService" android:enabled="true"/>

        <service android:name=".logic.workers.PlayerTask" android:enabled="true"/>

        <service android:name=".logic.workers.PlayerBrowser">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.gms.car.application" android:resource="@xml/automotive_app_desc"/>

    </application>

</manifest>
