name: nightly
on:
  workflow_dispatch:
  schedule:
    #  run job at 00:00:00 UTC
    - cron:  '0 0 * * *'

jobs:
  nightly_build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 22.x
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build Library
        run: yarn build
      - name: Extract Version
        run: echo "LIB_VERSION=$(cat package.json | jq -r .version)" >> $GITHUB_ENV
      - name: Initialise NPM config
        run: npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish Nightly Version
        run: yarn release-it --ci --no-increment --no-git --no-plugins --npm.tag "nightly" ${{ env.LIB_VERSION }}-nightly-${{ github.sha }}
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
